In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib as plt

In [19]:
result = pd.read_csv('D:\\Course\\results.csv')

In [29]:
result.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')

In [150]:
country = result['home_team'].unique()
country.shape

(311,)

In [38]:
indonesia_match = result[result['home_team']=='Indonesia']

In [122]:
indonesia_match['date'].max()

'2019-06-15'

In [70]:
indonesia_lose = indonesia_match[indonesia_match['home_team']<indonesia_match['away_team']]
indonesia_win = indonesia_match[indonesia_match['home_team']>indonesia_match['away_team']]

In [124]:
print('Sebanyak',indonesia_match['home_team'].count(),'kali pertandingan telah dilalui oleh Indonesia dari tahun 1953 sampai dengan 2019. Dari 327 Pertandingan',indonesia_lose['home_team'].count(), 'pertandingan Indonesia mengalami kekalahan dan hanya',indonesia_win['home_team'].count(), 'kali Indonesia menang dari Lawannya.')

Sebanyak 327 kali pertandingan telah dilalui oleh Indonesia dari tahun 1953 sampai dengan 2019. Dari 327 Pertandingan 245 pertandingan Indonesia mengalami kekalahan dan hanya 82 kali Indonesia menang dari Lawannya.

In [111]:
indonesia_match['away_score'].max()
high_score_indonesia_lose = indonesia_match[indonesia_match['away_score']==7]
high_score_indonesia_lose

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
13683,1985-05-02,Indonesia,North Korea,0,7,Friendly,Peshawar,Pakistan,True
32410,2010-10-08,Indonesia,Uruguay,1,7,Friendly,Jakarta,Indonesia,False

In [159]:
indonesia_tournament=indonesia_match['tournament'].unique()
indonesia_tournament

array(['Friendly', 'FIFA World Cup qualification', 'Merdeka Tournament',
       'Vietnam Independence Cup', 'AFC Asian Cup qualification',
       "King's Cup", 'Indonesia Tournament', 'Korea Cup', 'Merlion Cup',
       'AFF Championship', 'AFC Asian Cup', 'Dunhill Cup'], dtype=object)

In [176]:
friendly = indonesia_match[indonesia_match['tournament']=='Friendly'].count()
print('Friendly Match :',friendly['tournament'])
FIFA = indonesia_match[indonesia_match['tournament']=='FIFA World Cup qualification'].count()
print('FIFA World Cup Qualification Match :',FIFA['tournament'])
Merdeka = indonesia_match[indonesia_match['tournament']=='Merdeka Tournament'].count()
print('Merdeka tournament Match :',Merdeka['tournament'])
Vietnam = indonesia_match[indonesia_match['tournament']=='Vietnam Independence Cup'].count()
print('Vietnam Independence Cup :',Vietnam['tournament'])
AFC = indonesia_match[indonesia_match['tournament']=='AFC Asian Cup qualification'].count()
print('AFC Asian Cup Qualification :',AFC['tournament'])
KING = indonesia_match[indonesia_match['tournament']=="King's Cup"].count()
print("King's Cup :",KING['tournament'])
Indonesia = indonesia_match[indonesia_match['tournament']=="Indonesia Tournament"].count()
print("Indonesia Tournament :",Indonesia['tournament'])
Korea = indonesia_match[indonesia_match['tournament']=="Korea Cup"].count()
print("Korea Cup :",Korea['tournament'])
Merlion = indonesia_match[indonesia_match['tournament']=="Merlion Cup"].count()
print("Merlion Cup :",Merlion['tournament'])
AFF = indonesia_match[indonesia_match['tournament']=="AFF Championship"].count()
print("AFF Championship :",AFF['tournament'])
AFCC = indonesia_match[indonesia_match['tournament']=="AFC Asian Cup"].count()
print("AFC Asian Cup :",AFCC['tournament'])
Dunhill = indonesia_match[indonesia_match['tournament']=="Dunhill Cup"].count()
print("Dunhill Cup :",Dunhill['tournament'])

Friendly Match : 95
FIFA World Cup Qualification Match : 33
Merdeka tournament Match : 61
Vietnam Independence Cup : 5
AFC Asian Cup Qualification : 24
King's Cup : 20
Indonesia Tournament : 33
Korea Cup : 14
Merlion Cup : 1
AFF Championship : 35
AFC Asian Cup : 4
Dunhill Cup : 2

In [178]:
worldcup = indonesia_match[indonesia_match['tournament']=='FIFA World Cup qualification']
worldcup

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
4125,1957-05-12,Indonesia,China PR,2,0,FIFA World Cup qualification,Jakarta,Indonesia,False
8492,1973-03-11,Indonesia,New Zealand,1,1,FIFA World Cup qualification,Sydney,Australia,True
8499,1973-03-18,Indonesia,New Zealand,1,0,FIFA World Cup qualification,Melbourne,Australia,True
10030,1977-03-03,Indonesia,Malaysia,0,0,FIFA World Cup qualification,Kallang,Singapore,True
11748,1981-05-11,Indonesia,New Zealand,0,2,FIFA World Cup qualification,Jakarta,Indonesia,False
11791,1981-06-15,Indonesia,Chinese Taipei,1,0,FIFA World Cup qualification,Jakarta,Indonesia,False
11856,1981-08-10,Indonesia,Fiji,3,3,FIFA World Cup qualification,Jakarta,Indonesia,False
11876,1981-08-30,Indonesia,Australia,1,0,FIFA World Cup qualification,Surabaya,Indonesia,False
13537,1985-03-15,Indonesia,Thailand,1,0,FIFA World Cup qualification,Jakarta,Indonesia,False
13544,1985-03-18,Indonesia,Bangladesh,2,0,FIFA World Cup qualification,Jakarta,Indonesia,False
13547,1985-03-21,Indonesia,India,2,1,FIFA World Cup qualification,Jakarta,Indonesia,False
13811,1985-07-30,Indonesia,South Korea,1,4,FIFA World Cup qualification,Jakarta,Indonesia,False
15500,1989-05-21,Indonesia,North Korea,0,0,FIFA World Cup qualification,Jakarta,Indonesia,False
15526,1989-05-28,Indonesia,Japan,0,0,FIFA World Cup qualification,Jakarta,Indonesia,False
15601,1989-06-25,Indonesia,Hong Kong,3,2,FIFA World Cup qualification,Jakarta,Indonesia,False
17578,1993-04-18,Indonesia,Singapore,0,2,FIFA World Cup qualification,Doha,Qatar,True
17588,1993-04-24,Indonesia,Qatar,1,4,FIFA World Cup qualification,Singapore,Singapore,True
17616,1993-04-28,Indonesia,North Korea,1,2,FIFA World Cup qualification,Singapore,Singapore,True
17630,1993-04-30,Indonesia,Vietnam,2,1,FIFA World Cup qualification,Singapore,Singapore,True
20363,1997-04-06,Indonesia,Cambodia,8,0,FIFA World Cup qualification,Jakarta,Indonesia,False
20378,1997-04-13,Indonesia,Yemen,0,0,FIFA World Cup qualification,Jakarta,Indonesia,False
20490,1997-06-01,Indonesia,Uzbekistan,1,1,FIFA World Cup qualification,Jakarta,Indonesia,False
23772,2001-04-08,Indonesia,Maldives,5,0,FIFA World Cup qualification,Jakarta,Indonesia,False
23812,2001-04-22,Indonesia,Cambodia,6,0,FIFA World Cup qualification,Jakarta,Indonesia,False
23946,2001-05-27,Indonesia,China PR,0,2,FIFA World Cup qualification,Jakarta,Indonesia,False
26592,2004-06-09,Indonesia,Sri Lanka,1,0,FIFA World Cup qualification,Jakarta,Indonesia,False
26995,2004-10-12,Indonesia,Saudi Arabia,1,3,FIFA World Cup qualification,Jakarta,Indonesia,False
27086,2004-11-17,Indonesia,Turkmenistan,3,1,FIFA World Cup qualification,Jakarta,Indonesia,False
29707,2007-11-09,Indonesia,Syria,1,4,FIFA World Cup qualification,Jakarta,Indonesia,False
33204,2011-07-28,Indonesia,Turkmenistan,4,3,FIFA World Cup qualification,Jakarta,Indonesia,False
33409,2011-09-06,Indonesia,Bahrain,0,2,FIFA World Cup qualification,Jakarta,Indonesia,False
33548,2011-10-11,Indonesia,Qatar,2,3,FIFA World Cup qualification,Jakarta,Indonesia,False
33675,2011-11-15,Indonesia,Iran,1,4,FIFA World Cup qualification,Jakarta,Indonesia,False